<h3><%= @book.title %></h3>

<ul>
  <li>Title: <%= @book.title %></li>
  <li>Author: <%= @book.author %></li>
  <li>Year: <%= @book.year %></li>
  <li>Description: <%= @book.description %></li>
  <li>Category: <%= @book.category %></li>
</ul>


<%= link_to " AddReview", new_book_review_path(@book, @review), :class => 'glyphicon glyphicon-pencil' %></br>
<%= link_to ' AllBooks', books_path, :class => 'glyphicon glyphicon-book' %>
<hr>

<h3>Customer Reviews</h3>

<ul>

<% @book.reviews.each do |review| %>
<li>Rating:<%= review.rating %></li>
<li>Review: <%= review.body %></li>
<li>Date: <%= time_ago_in_words(review.created_at) %> ago </li>
<hr>

<% end %>

</ul>

<hr>

