<h3>Add A Review</h3>

<%= bootstrap_form_for([@book, @book.reviews.build]) do |f| %>

<div>
  <%= f.select :rating, ['1','2','3','4','5'] %>
</div>
</br>

<div>
  <%= f.text_area :body, :rows => 4, :cols => 50 %>
</div>
</br>


<%= f.submit 'Submit' %>
<% end %>
<hr>

<%= link_to "Back to books", book_path(@book, @review), :class => "button"  %>
